h1 {
  color: cornflowerblue;
  text-align: center;
}

h3 {
    text-align: center;
    color: cornflowerblue;
}
  
main {
  background-color: blanchedalmond;
  width: 800px;
  margin-top: 15px;
}

.homepage {
  text-align: center;
  margin-top: 320px;
}

 /* Home page images grid */
.topRow, .bottomRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid black;
  /* box-sizing: border-box; */
  /* padding: 25px; */
  width: 700px;
  height: 400px;
  margin-left: 50px;
  text-align: center;
}

/* Homw page images */
.food-homepg img {
  width: 200px;
  height: 250px;
}

/* .topRow > * {    
    border: 1px solid black;
    text-align: center;
} */

/* .topRow > h3 { */
.rows > * {
  /* align-items: center; */
  border: 1px solid black;
  grid-gap: 0px;
  /* height: 650px;
  width: 350px; */
}

h2 {  
    color: rgb(51, 131, 108);
    margin-bottom: 20px;
}

p {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: rgb(28, 175, 134);
  /* margin-top: -20px; */
}

.rows img { 
  height: 200px;
  width: 250px;
}

/* Button at the bottom of the home page */
button {
  background-color: rgb(149, 193, 236);
  border: 2px solid black;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 20px 5px;
  box-shadow: 5px 0px #818080;
  margin-left: 50px;
  margin-top: 20px;
} 

/* Added animation to the button */
button:hover, .submitButton:hover {
  background-color: #789aef
}


/* Added color change when the mouse hovers over button */
button:active, .submitButton:active {
  background-color: #f86170;
  box-shadow: 10px 5px 5px red; /*#666;*/
  transform: translateY(2px);
}

/* Customize the Submit button */
.submitButton {
  background-color: rgb(149, 193, 236);
  border: 2px solid black;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 20px 5px;
  box-shadow: 5px 0px #818080;
  margin-left: 20px;
  margin-top: 10px;
}