h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
  h2 {
    color: blue;
  }

p {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: red;
}