h1, h3 {
  color: cornflowerblue;
  text-align: center;
}

h2 { 
  color: rgb(51, 131, 108);
  margin-bottom: 15px;
  text-align: center;
}

h3 { 
  color: blanchedalmond
}

/* Paragraph font formatting */
p {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: rgb(28, 175, 134);
}

/* Configure home page size and background color  */
main {
  background-color: blanchedalmond;
  width: 800px;
  /* height: 800px; */
}

 /* Home page image grid */
 .rows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    width: 700px;
    height: 600px;
    margin-left: 50px;
    text-align: center;
}

/* Home page image size */
.rows img {
  width: 200px;
  height: 200px;
}
/* Places page image size */
.row img {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  
}

.row {
  text-align: center;
}

/* Add internal grid borders */
.rows > * {
  border: 1px solid black;
  grid-gap: 1px;
}

/* Places button at the bottom of the home page */
button, .submitButton, .btn {
  background-color: rgb(149, 193, 236);
  border: 2px solid black;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 25px 25px;
  box-shadow: 3px 3px #818080;
  margin-left: 50px;
  margin-top: 30px;
} 

/* Added animation to the button */
button:hover, .submitButton:hover, .btn:hover {
  background-color: #789aef
}

/* Added color change when the mouse hovers over button */
button:active, .submitButton:active, .btn:active {
  background-color: #f86170;
  box-shadow: 10px 5px 5px red; /*#666;*/
  transform: translateY(2px);
}

